.nav-element {
    display: inline-block;
    color: black;
    width: 10%; 
    height: 100%;
    text-align: center;
}

a:hover {
    color: red;
}

.nav-bar {
    width: 100%;
    text-align: justify;
    height: 15%;
    margin: 20px 0;
    justify-content: space-evenly;
}

html, body {
    height: 100%;
    margin: 0;
}