.nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    padding: 0;
    height: 50px;
    background-color: #1e1f26;
    justify-content: center;
}

a.nav-element {
    text-align: center;
    vertical-align: center;
}

li {
    display: table;
    text-decoration: none;
    align-content: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    text-align: center;
}


li:hover {
    background-color: #4d648d;
    height: 100%;
    font-weight:bold;
    box-shadow: 8px 5px 5px #283655;
}

.external {
    float: right;
}

.internal {
    float: left;
}

/* .logo {
    color: white;
    text-align: center;
} */

a {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    display: table-cell;
}

